html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.alert {
  padding: 1.5em 3em 1.5em 1.5em;
  width: 80%;
  color: white;
  margin: auto;
  position: relative;
  transition: opacity 0.4s ease-in-out;
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  padding: 1.5em 2em;
  content: 'X';
  font-weight: bold;
  cursor: pointer;
  transition: color 0.4s ease-in-out;
  &:hover {
    color: black;
  }
}

.danger {
  background-color: #f44336;
}

.warning {
  background-color: #ff9800;
}

.info {
  background-color: #2196f3;
}

.success {
  background-color: #4caf50;
}
